{% extends "ToolsBox/page_head_foot.html" %}

{% block static_link %}
<script src="/static/js/online/config.js"></script>
<link rel="stylesheet" href="/static/css/online/index.css">
<style>
    .page-nav{
        display:flex;
        justify-content: space-around;
    }
</style>
{% endblock static_link %}

{% block main_content %}
<div class="layui-container">
    <marquee behavior="alternate">静态页面，善于使用 &lt;&nbsp;CTRL&nbsp;&nbsp;+&nbsp;&nbsp;F&nbsp;&gt; 可提高工作效率。</marquee>
    <div class="layui-row online-list-out" id="online-list">

    </div>
    <div class="page-nav" id="page-nav"></div>
</div>
{% endblock main_content %}