* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.box {
    box-sizing: border-box;
    padding: 24px 24px;
}

.box a {
    border: rgb(220, 220, 220) solid 3px;
    background-color: rgb(240, 248, 255);
    border-radius: 10px;
    display: block;
    /* height: 100%; */
    width: 100%;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgb(200 200 200);
}

.icon {
    display: block;
    height: 10vw;
    width: 10vw;
    margin: 14% auto 12%;
}

.box_name {
    display:block;
    font-size: 20px;
    margin-bottom: 20px;
}
