<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>黑名单</title>
    <base href="/">
    <script src="/static/js/toolsbox/app_root.js"></script>
    <script src="/static/js/jquery-1.12.4.js"></script> 
    <script src="/static/js/toolsbox/banip.js"></script>    
    <link rel="stylesheet" href="/static/css/toolsbox/banip.css">
    <link rel="icon" href="/static/img/tools-icon.png">
</head>
<body>
	<h3>禁止访问的ip地址：</h3>
   <ol class="content" id="content">
   </ol> 
</body>
</html>
