<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/tools-icon.png">
    <script src="/static/js/toolsbox/app_root.js"></script>
    <title>您没有权限上传</title>
    <base href="/">
    <script src="/static/js/jquery-1.12.4.js"></script>
    <style>
        .refuse_div {
            width: 800px;
            margin: 30px auto;
            background-color: rgb(230, 230, 230);
            border-radius: 10px;
            padding: 30px;
            border: 2px solid rgb(210, 210, 210);
            text-align: center;
        }
    </style>
    <script>
        $(function(){
            setInterval(function(){
                $("#refuse_div").css({"margin-top":((window.innerHeight - 285) / 2)});
            },30)
        })
    </script>
</head>
<body>
<div class="refuse_div" id="refuse_div">
    <h2>您没有上传权限</h2>
    <h2>如果需要</h2>
    <h2>请及时联系管理员</h2>
    <h4><a href="/tools/index">主页</a></h4>
</div>
</body>
</html>